<div class="background">

    <form class="register">
        <h1 class="title">Registrate</h1>
        <div class="container">
            <div class="fullName" >  
                <label class="label" for="grid-first-name">
                    Nombres
                </label>
                <input class="input" id="grid-first-name" type="text" placeholder="Nombre completo">
                <label class="label" for="grid-last-name">
                    Apellidos
                </label>
                <input class="input" id="grid-last-name" type="text" placeholder="Apellido completo">
            </div>
        </div>
        <div class="container">
            <div class="passwordForm">
                <label class="label" for="grid-password">
                    Contraseña
                </label>
                <input class="input" id="grid-password" type="password" placeholder="***********">
                <label class="label" for="grid-passwordCheck">
                    Verificación
                </label>
                <input class="input" id="grid-passwordCheck" type="password" placeholder="Repita la contraseña">
            </div>
        </div>
        <div class="container">
            <div class="email">
                <label class="label" for="grid-email">
                    Correo
                </label>
                <input class="input" id="grid-email" type="email" placeholder="usuario@gmail.com">
            </div>
        </div>
        <div class="container">
            <div class="userType">
                <div class="userState">
                    <label class="label" for="grid-userState">
                        Tipo de usuario
                    </label>
                    <div class="selectUserState">
                        <select class="select" id="grid-userState">
                            <option value="Student">Estudiante</option>
                            <option value="Preparer">Preparador</option>
                        </select>
                    </div>
                </div>
                <div class="dni">
                    <label class="label" for="grip-dni">
                        Cedula
                    </label>
                    <input class="input" id="grip-dni" type="text" placeholder="28542695">
                </div>
            </div>
        </div>

        <button class="btn btn-yellow">
            Enviar
        </button>
    </form>
    
</div>