<div class="background">

    <div class="studentsList">
        <div class="student">Estudiante 1</div>        
        <div class="student">Estudiante 2</div>
        <div class="student">Estudiante 3</div>        
        <div class="student">Estudiante 4</div>
        <div class="student">Estudiante 5</div>        
        <div class="student">Estudiante 6</div>
        <div class="student">Estudiante 7</div>        
        <div class="student">Estudiante 8</div> 
        <div class="student">Estudiante 9</div>        
        <div class="student">Estudiante 10</div>       
    </div>

    <div class="spacer"></div>
    
    <div class="grades">
        <div class="gradeTitle">Corte</div>
        <div class="gradeTitle">Nota</div>
    </div>

    <div class="grades">
        <div class="cut md:w-3/4">1º Corte</div>
        <div class="formBackground md:w-1/4">
            <form>
                <input class="input2" type="text" name="numero" maxlength="2">
            </form>
        </div>

        <div class="cut md:w-3/4">2º Corte</div>
        <div class="formBackground md:w-1/4">
            <form>
                <input class="input2" type="text" name="numero" maxlength="2">
            </form>
        </div>

        <div class="cut md:w-3/4">3º Corte</div>
        <div class="formBackground md:w-1/4">
            <form>
                <input class="input2" type="text" name="numero" maxlength="2">
            </form>
        </div>

        <div class="cut md:w-3/4">4º Corte</div>
        <div class="formBackground md:w-1/4">
            <form>
                <input class="input2" type="text" name="numero" maxlength="2">
            </form>
        </div>
    </div>

    <button class="btn2">
        Actualizar
    </button>

</div>